{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>LOANS2GO | Loans HTML Template</title>
    <meta charset="UTF-8">
    <meta name="description" content="loans HTML Template">
    <meta name="keywords" content="loans, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="{% static "img/favicon.ico" rel="shortcut icon" %}"/>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/flaticon.css" %}"/>
    <link rel="stylesheet" href="{% static "css/slicknav.min.css" %}"/>

    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="{% static "css/style.css" %}"/>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section -->
    <header class="header-section">
        <a href="index.html" class="site-logo">
            <img src="{% static "img/logo.png" %}" alt="">
        </a>
        <nav class="header-nav">
            <ul class="main-menu">
                <li><a href="{% url 'home' %}" class="active">Home</a></li>
                <li><a href="about-us.html">About Us</a></li>
                <li><a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about-us.html">About Us</a></li>
                        <li><a href="loans.html">Loans</a></li>
                        <li><a href="elements.html">elements</a></li>
                    </ul>
                </li>
                <li><a href="news.html">News</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="header-right">
                <a href="#" class="hr-btn"><i class="flaticon-029-telephone-1"></i>Call us now! </a>
                <div class="hr-btn hr-btn-2">+45 332 65767 42</div>
            </div>
        </nav>
    </header>
    <!-- Header Section end -->
{% block content %}
{% endblock content %}
        <!--====== Javascripts & Jquery ======-->
    <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.slicknav.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</body>>
</html>
